*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    color: #232323;
}

body{
    background: #f3f3f3;
}

nav{
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: 0.5s;
    transform: translateY(-200%);
    box-shadow: 0px 5px 15px 0px rgba( 0, 0, 0, 0.3 );
    &.show{
        transform: translateY(0);
    }
    .desctop-menu__search{
        width: 100%;
        max-width: 100%;
        position: fixed;
        background: #fff;
        box-shadow: 0px 5px 15px 0px rgba( 0, 0, 0, 0.3 );
        transform: translateY(-115%);
        transition: 0.3s;
        &.show{
            transform: translate(0);
        }
        form{
            display: flex;
            align-items: center;
            padding: 10px 0;
            width: 100%;
            box-sizing: border-box;
            button{
                cursor: pointer;
                outline: none;
                padding: 0;
                border: none;
                background: transparent;
                width: 25px;
                img{
                    width: 100%;
                    max-width: 100%;
                    display: block;
                }
            }
            input{
                width: 100%;
                max-width: 100%;
                height: 55px;
                background: #f3f3f3;
                border: none;
                outline: none;
                border-radius: 30px;
                padding: 0 20px;
                box-sizing: border-box;
                font-size: 14px;
                &::placeholder{
                    color: #000;
                }
            }
            button{
                margin-left: -50px;
            }
        }
    }
    .under-nav{
        background: #fff;
        width: 100%;
        max-width: 100%;
        padding: 25px 0;
        box-shadow: 0px 5px 15px 0px rgba( 0, 0, 0, 0.3 );
        position: fixed;
        z-index: 1;
        transform: translateY(-115%);
        transition: 0.3s;
        &.show{
            transform: translateY(0);
        }
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            li:last-child a{
                margin-right: 0;
            }
            a{
                margin-right: 40px;
                text-decoration: none;
                display: block;
                font-size: 14px;
                line-height: 1.2;
                font-weight: bold;
                transition: 0.3s;
                &:hover{
                    color: #2a5caa;
                }
            }
        }  
    }
    .apper-nav{
        background: #2a5caa;
        padding: 20px 0 25px;
        position: relative;
        z-index: 2;
    }

    .apper-nav .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .person-btns{
            display: flex;
            align-items: center;
            a{
                display: block;
                width: 24px;
                margin-right: 30px;
                svg{
                    width: 100%;
                    max-width: 100%;
                    display: block;
                    path{fill: #fff;}
                    .st0{stroke: #fff;}
                }
                &:last-child{
                    margin-right: 25px;
                    width: 31px;
                }
            }
        }
        .logo{
            width: 150px;
            max-width: 100%;
            img{
                width: 100%;
                display: block;
                max-width: 100%;
            }
        }
        .menu-container{
            list-style: none;
            display: flex;
            align-items: center;
            a{
                font-size: 14px;
                color: #80adf2;
                line-height: 1.2;
                display: block;
                margin-right: 50px;
                text-transform: uppercase;
                text-decoration: none;
                transition: 0.3s;
                font-weight: bold;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}

.container{
    width: 1425px;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
}

header{
    .logo{
        position: absolute;
        width: 130px;
        max-width: 100%;
        border-radius: 100px;
        background: #f3f3f3;
        left: 12.5%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
        border: 2px solid #f3f3f3;
        img{
            width: 100%;
            max-width: 100%;
            display: block;
        }
    }

    .under-header{
        padding: 35px 0;
        .container{
            position: relative;
        }
        .burger-menu{
            width: 31px;
            max-width: 100%;
            border: none;
            outline: none;
            padding: 0;
            background: transparent;
            cursor: pointer;

            position: absolute;
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
            img{
                width: 100%;
                max-width: 100%;
                display: block;
            }
        }
        h1{
            font-size: 24px;
            text-align: center;
            font-weight: bold;
            line-height: 1.2;
        }
    }
}

.slider-history{
    display: flex;
    flex-wrap: wrap;
    & > div{
        width: 25%;
    }
}

.slider-history .item{
    margin: 0 4pt;
    padding: 30px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    height: 600px;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        box-shadow: -7.071px 7.071px 30px 0px rgb( 86, 152, 255 );
        .back{opacity: 0.2;}
        .text-container{background: unset;}
        background: #2a5caa;
        .comments svg .st0{stroke: #fff;}
        .date svg .st0{stroke: #fff;}
        .comments, .date{color: #fff !important;}

    }
    .back{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        display: block;
        min-height: 100%;
        min-width: 100%;
        max-width: 110%;
        object-fit: cover;
        transition: 0.3s;
    }
    .text-container{
        position: absolute;
        bottom: 0;
        z-index: 1;
        padding: 240px 40px 40px;
        width: 100%;
        box-sizing: border-box;
        left: 0;
        right: 0; 
        transition: 0.3s;
        background: linear-gradient( to bottom, rgba(1, 1, 1, 0), 60%, rgba(1, 1, 1, 1));
        .slider-history__data{
            display: flex;
            align-items: center;
            .comments{
                margin-right: 30px;
            }
        }
        p{
            font-size: 20px;
            color: #fff;
            font-weight: bold;
            line-height: 1.2;
            margin-top: 25px;
        }
        .comments{
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 1;
            color: #a1a1a1;
            transition: 0.3s;
            svg{
                width: 25px;
                max-width: 100%;
                display: block;
                margin-right: 10px;
                .st0{transition: 0.3s;}
            }
        }  
    }
}


.row{
    display: flex;
    justify-content: space-between;
    .col-4{
        flex: 0 0 33.333334%;
        max-width: 33.333334%;
        box-sizing: border-box;
        padding: 0 8pt;

        .reviews-container__right{
            .item{
                padding: 30px;
                box-sizing: border-box;
                border-radius: 25px;
                background: #fff;
                display: flex;
                align-items: center;
                margin-bottom: 8pt;
                cursor: pointer;
                transition: 0.3s;
                &:hover{
                    background: #2a5caa;
                    box-shadow: -7.071px 7.071px 30px 0px rgb( 86, 152, 255 );
                    p{color: #fff}
                }
                &:last-child{
                    margin-bottom: 0;
                }
                .avatar{
                    min-width: 65px;
                    height: 65px;
                    overflow: hidden;
                    position: relative;
                    margin-right: 12px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }
                p{
                    font-size: 18px;
                    line-height: 1.3;
                    transition: 0.3s;
                }
            }
        }

        .history-category__container{
            max-width: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8pt;
            .item{
                width: 100%;
                max-width: 100%;
                height: 95px;
                position: relative;
                overflow: hidden;
                border-radius: 25px;
                background: #000;
                transition: 0.3s;
                cursor: pointer;
                &:hover{
                    box-shadow: -7.071px 7.071px 30px 0px rgb( 86, 152, 255 );
                    div{
                        background: rgba($color: #2a5caa, $alpha: 0.8);
                    }
                }
                div{
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 1;
                    z-index: 2;
                    color: #fff;
                    transition: 0.3s;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }
                img{
                    position: absolute;
                    z-index: 0;
                    opacity: 0.5;
                    display: block;
                    top: 40%;
                    transform: translate(-50%, -50%);
                    max-width: 150%;
                    left: 50%;
                }
            }
        }
    }
    .col-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        box-sizing: border-box;
        padding: 0 8pt;
        .slider-history .item{
            width: 100%;
            max-width: 100%;
            height: 515px;
            margin: 8pt 0;
            .text-container{
                padding: 240px 60px 60px;
            }
        }
        .history-card__container{
            display: flex;
            flex-direction: column;
            gap: 8pt;
        }
        .history__item{
            width: 100%;
            border-radius: 25px;
            overflow: hidden;
            background: #fff;
            display: flex;
            min-height: 185px;
            cursor: pointer;
            &:hover:not([hover]){
                box-shadow: -7.071px 7.071px 30px 0px rgb( 86, 152, 255 );
                .image{
                    img{opacity: 0.2;}
                    background: #2a5caa;
                }
                .data{
                    background: #2a5caa;
                    .title{color: #fff;}
                    .category{color: #2a5caa}
                    .comments svg .st0{stroke: #fff;}
                    .date svg .st0{stroke: #fff;}
                    .comments, .date{color: #fff !important;}
                }
            }
            .image{
                width: 40%;
                max-width: 100%;
                position: relative;
                overflow: hidden;
                transition: 0.3s;
                img{
                    display: block;
                    object-fit: cover;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    min-width: 100%;
                    max-width: 110%;
                    min-height: 100%;
                    max-height: 110%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s;
                }
            }
            .data{
                padding: 30px;
                box-sizing: border-box;
                width: 60%;
                max-width: 100%;
                transition: 0.3s;
                .title{
                    font-size: 20px;
                    line-height: 1.2;
                    font-weight: bold;
                    transition: 0.3s;
                }
            }
        }
    }
}

.history__about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    .category{
        min-width: 85px;
        max-width: 100%;
        height: 40px;
        border-radius: 30px;
        background: #f3f3f3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #a1a1a1;
        line-height: 1;
        margin-right: 30px;
        transition: 0.3s;
    }
    .comments, .date{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.comments, .date{
    font-size: 14px;
    color: #a1a1a1;
    line-height: 1;
    display: flex;
    align-items: center;
    transition: 0.3s;
    svg{
        width: 25px;
        display: block;
        max-width: 100%;
        margin-right: 10px;
        .st0{
            transition: 0.3s;
        }
    }
}

h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25px;
    margin-top: 40px;
    margin-left: 15px;
}


.all-history__container{
    display: flex;
    flex-direction: column;
    gap: 8pt;
    width: 100%;
    max-width: 100%;
    .item{
        width: 100%;
        max-width: 100%;
        background: #fff;
        border-radius: 25px;
        padding: 30px;
        box-sizing: border-box;
        transition: 0.3s;
        &:hover{
            background: #2a5caa;
            box-shadow: -7.071px 7.071px 30px 0px rgb( 86, 152, 255 );
            p{color: #fff}
            .category{color: #2a5caa}
            .comments svg .st0{stroke: #fff;}
            .date svg .st0{stroke: #fff;}
            .comments, .date{color: #fff !important;}
        }   
        p{
            font-size: 18px;
            line-height: 1.2;
            transition: 0.3s;
        }
    }
}

.row .col-8 .history__banners{
    display: flex;
    gap: 8pt;
    width: 100%;
    max-width: 100%;
    .slider-history{
        width: 40%;
        max-width: 100%;
        .item{
            height: 550px;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            .text-container{
                padding: 240px 30px 40px;
            }
        }
    }
    .right{
        width: 60%;
        display: flex;
        gap: 8pt;
        flex-direction: column;
        .slider-history{
            width: 100%;
            max-width: 100%;
            .item{
                height: 270px;
                box-sizing: border-box;
                padding: 0;
                .text-container{
                    padding: 240px 30px 40px;
                }
            }
        }
    }
}

.show-more{
    width: 100%;
    max-width: 100%;
    height: 55px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: #2a5caa;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.3s;
    &:hover{
        box-shadow: -7.071px 7.071px 30px 0px rgb( 86, 152, 255 );
    }
}

footer{
    background: #2a5caa;
    margin-top: 55px;
    padding: 15px 0 40px;
    .container, .container-mobile{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .logo{
            display: flex;
            align-items: center;
            width: 45%;
            a{
                width: 170px;
                max-width: 100%;
                display: block;
                margin-right: 20px;
                img{
                    width: 100%;
                    max-width: 100%;
                    display: block;
                }
            }
            p{
                font-size: 24px;
                font-weight: bold;
                color: #fff;
                line-height: 1.2;
            }
            .age{
                width: 74px;
                display: block;
                margin-left: auto;
                max-width: 100%;
            }
        }
        .footer-text{
            width: 50%;
            max-width: 100%;
            margin-top: 65px;
            p{
                font-size: 14px;
                color: #7f9bc7;
                line-height: 1.2;
            }
            .footer-menu{
                margin-top: 35px;
                display: flex;
                width: 100%;
                max-width: 100%;
                justify-content: space-between;
                .item{
                    .title{
                        font-size: 14px;
                        color: #7f9bc7;
                        line-height: 1.2;
                    }
                    ul{
                        font-size: 14px;
                        line-height: 1.2;
                        list-style: none;
                        a{
                            color: #fff;
                            text-decoration: none;
                            display: block;
                            margin-top: 5px;
                            transition: 0.3s;
                            &:hover{
                                color: #80adf2;
                            }
                        }
                    }
                }
            }
        }
    }
}
  

.container-mobile{
    width: 500px;
    max-width: 100%;
    padding: 0 8pt;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    .burger-menu{
        right: 35px !important;
        transform: unset !important;
        top: unset !important;
    }

    .slider-history > div{
        width: 100%;
        .item{
            animation: 0.3s show;
        }
        .item .loadbar{
            width: 145px;
            height: 5px;
            border-radius: 3px;
            position: absolute;
            z-index: 10;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15px;
            background: rgba($color: #fff, $alpha: 0.3);
            span{
                background: rgba($color: #fff, $alpha: 1);
                animation: 5s linear load;
                height: 100%;
                border-radius: 3px;
                display: block;
            }
        }
    }
    h1{
        display: none;
    }
    h2{
        font-size: 18px;
        margin-left: 0;
    }
    .logo{
        left: 50%;
    }

    .slider-history .item .text-container{
        padding: 240px 15px 35px;
        p{
            margin-top: 15px;
            font-size: 18px;
        }
    }
    .slider-history .item .text-container .comments{
        font-size: 12px;
        svg{
            width: 20px;
        }
    }
    
    .col-8{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row .col-8 .history__item{
        flex-direction: column;
        min-height: unset;
        background: unset;
        overflow: unset;
        border-radius: unset;
        margin-top: 25px;
        &:first-child{
            margin-top: 0;
        }
        .data{
            width: 100%;
            padding: 0;
            .title{
                font-size: 14px;
            }
        }
    }

    .comments, .date{
        font-size: 12px;
        svg{
            width: 20px;
        }
    }
    .history__about .category{
        font-size: 12px;
        width: 72px;
        height: 24px;
    }
    .row .col-8 .history__item .image{
        width: 100%;
        height: 170px;
        overflow: hidden;
        border-radius: 25px;
        margin-bottom: 10px;
    }
}

footer .container-mobile .footer-text .footer-menu{
    flex-direction: column;
    gap: 16pt;
    margin-top: 16pt;
}

footer .container-mobile .footer-text{
    width: 100%;
    .age{
        width: 43px;
        max-width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

footer .container-mobile .footer-text{
    margin-top: 0;
}

.hidden{
    display: none;
}

.mobile{
    background: #fff;
    header .logo{
        background: #fff;
        border: 2px solid #fff;
    }
    footer{
        padding: 25px 10px;
        box-sizing: border-box;
        margin-top: 45px;
    }
}

.mobile-nav{
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    &.show{
        transform: translateY(0);
    }
}   

.mobile-menu{
    background: #2a5caa;
    padding: 10px 0;
    .container-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        box-sizing: border-box;
        .logo{
            width: 120px;
            display: block;
            max-width: 100%;
            img{
                display: block;
                width: 100%;
                max-width: 100%;
            }
        }
        .open-mobile-menu{
            display: block;
            width: 30px;
            max-width: 100%;
            margin-right: 10px;
            svg{
                width: 100%;
                max-width: 100%;
                display: block;
                .st0{stroke: #fff;}
            }
        }
        .show-menu{
            padding: 0;
            border: 0;
            outline: none;
            background: transparent;
            width: 30px;
            max-width: 100%;
            img{
                width: 100%;
                max-width: 100%;
                display: block;
            }
        }
    }
}

.mobile-menu__search{
    width: 100%;
    max-width: 100%;
    background: #2a5caa;
    height: calc(100vh + 200px);
    z-index: 1001;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    transition: 0.3s;
    &.show{
        transform: translate(0);
    }
    .container-mobile{
        position: relative;
        height: 100%;
    }
    form{
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(50% - 100px);
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 10px;
        width: 305px;
        box-sizing: border-box;
        input{
            width: 100%;
            max-width: 100%;
            height: 55px;
            background: #fff;
            border: none;
            outline: none;
            border-radius: 30px;
            padding: 0 15px;
            box-sizing: border-box;
            &::placeholder{
                color: #000;
            }
        }
        button{
            margin-left: -40px;
        }
    }

    button{
        cursor: pointer;
        outline: none;
        padding: 0;
        border: none;
        background: transparent;
        width: 25px;
        img{
            width: 100%;
            max-width: 100%;
            display: block;
        }
    }
    .close{
        position: absolute;
        right: 35px;
        top: 20px;
    }

}

.mobile-menu__open{
    width: 100%;
    max-width: 100%;
    background: #2a5caa;
    height: calc(100vh + 200px);
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.3s;
    padding: 0 8pt;
    box-sizing: border-box;
    &.show{
        transform: translateY(0);
    }
    .mobile-menu__person{
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 1.2;
        color: #fff;
        padding: 20px 0;
        .avatar{
            width: 50px;
            border-radius: 100px;
            overflow: hidden;
            position: relative;
            margin-right: 15px;
            img{
                width: 100%;
                max-width: 100%;
                display: block;
            }
        }
        .leave{
            cursor: pointer;
            outline: none;
            padding: 0;
            border: none;
            background: transparent;
            width: 25px;
            margin-left: 30px;
            img{
                width: 100%;
                max-width: 100%;
                display: block;
            }
        }
    }

    .mobile-menu__navbar{
        list-style: none;
        & > li a{
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            text-decoration: none;
        }
        & > li{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        & > li .under-menu{
            padding-left: 15px;
            list-style: none;
            margin-top: 20px;
            li a{
                font-weight: normal;
                font-size: 16px;
            }
            li{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }   
    }

    .mobile-menu__buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
        box-sizing: border-box;
        button{
            cursor: pointer;
            outline: none;
            padding: 0;
            border: none;
            background: transparent;
            width: 25px;
            img{
                width: 100%;
                max-width: 100%;
                display: block;
            }
        }
    }
}

@keyframes load {
    0%{width: 0%;}
    100%{width: 100%;}
}
@keyframes show{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

//popaps

.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba($color: #2a5caa, $alpha: 0.5);
    animation: 0.3s show;
    &.hidden{
        display: none;
    }
}

.review-accept, .sign-in__popap{
    animation: 0.3s show;
    width: 440px;
    max-width: 100%;
    position: fixed;
    padding: 50px 60px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    text-align: center;
    &.hidden{
        display: none;
    }
    .title{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
    }
    p{
        font-size: 18px;
        line-height: 1.3;
        margin: 15px 0 20px;
    }
    button.close-popap{
        width: 145px;
        max-width: 100%;
        height: 60px;
        border-radius: 30px;
        background: #2a5caa;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        box-sizing: border-box;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            box-shadow: -7.071px 7.071px 30px 0px #2a5caa;
        }
    }
    .close{
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        width: 20px;
        max-width: 100%;
        position: absolute;
        right: 25px;
        top: 25px;
        svg{
            width: 100%;
            display: block;
            max-width: 100%;
        }
    }
}

.sign-in__popap{
    padding: 50px 45px;
    .sign-in__container{
        width: 300px;
        max-width: 100%;
        margin: 0 auto 10px;
        button{
            width: 100%;
            box-sizing: border-box;
            height: 55px;
            border-radius: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0 10px;
            font-size: 14px;
            color: #fff;
            line-height: 1;
            margin-top: 10px;
            transition: 0.3s;
            &.ya{
                background: #fb3f1d;
                &:hover{
                    box-shadow: -7.071px 7.071px 30px 0px #fb3f1d;
                }
                img{
                    width: 30px;
                    display: block;
                    margin-right: 10px;
                    margin-left: 5px;
                }
            }
            &.go{
                background: #4385f5;
                &:hover{
                    box-shadow: -7.071px 7.071px 30px 0px #4385f5;
                }
                img{
                    width: 17px;
                    display: block;
                    margin-right: 17px;
                    margin-left: 10px;
                }
            } 
            &.ok{
                background: #f77a00;
                &:hover{
                    box-shadow: -7.071px 7.071px 30px 0px #f77a00;
                }
                img{
                    width: 32px;
                    display: block;
                    margin-right: 10px;
                    margin-left: 2px;
                }
            }            
        }
    }
}

.container-mobile{
    .review-accept, .sign-in__popap{
        max-width: 88%;
        padding: 55px 45px 30px;
    }
    .review-accept p, .sign-in__popap p{
        font-size: 14px;
        margin: 15px 0;
    }

    .review-accept button.close-popap{
        font-size: 12px;
    }

    .review-accept .close, .sign-in__popap .close{
        top: 20px;
        right: 20px;
    }

    .review-accept .title, .sign-in__popap .title{
        font-size: 20px;
    }

    .sign-in__popap{
        form{
            width: 100%;
            margin-top: 20px;
            input{
                width: 100%;
                max-width: 100%;
                padding: 0 20px;
                height: 55px;
                border-radius: 30px;
                box-sizing: border-box;
                background: #f3f3f3;
                outline: none;
                border: none;
                &::placeholder{
                    color: #000;
                    font-size: 12px;
                }
            }
            button{
                width: 100%;
                box-sizing: border-box;
                height: 55px;
                border-radius: 30px;
                border: none;
                outline: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
                font-size: 14px;
                color: #fff;
                line-height: 1;
                margin-top: 10px;
                background: #ff3f4c;
                margin-top: 25px;
            }
        }
    }
}



//history page

.history{
    padding-top: 80px;
    position: relative;
    .logo{
        position: absolute;
        width: 130px;
        max-width: 100%;
        border-radius: 100px;
        background: #f3f3f3;
        left: 50%;
        top: 120px;
        transform: translateX(-50%);
        z-index: 2;
        border: 2px solid #f3f3f3;
        img{
            width: 100%;
            max-width: 100%;
            display: block;
        }
    }

    .history-container{
        padding: 0 0 30px;
        background: #fff;
        border-radius: 30px;
        margin-top: 30px;
        overflow: hidden;
        &:first-child{
            margin-top: 0;
        }

        .history-container__review{
            padding: 0 65px;
            box-sizing: border-box;
            margin-top: 55px;
            .item{
                padding: 25px 0 30px;
                position: relative;
                .resend{
                    width: 115px;
                    height: 37px;
                    box-sizing: border-box;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    transition: 0.3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #f3f3f3;
                    border-radius: 20px;
                    font-size: 14px;
                    line-height: 1;
                    color: #a1a1a1;
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    top: 25px;
                    &:hover{
                        color: #fff;
                        background: #2a5caa;
                        box-shadow: -7.071px 7.071px 30px 0px #2a5caa;
                    }
                }
                .border{
                    width: 100%;
                    height: 8px;
                    background: #f3f3f3;
                    border-radius: 4px;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    right: 0;
                    max-width: 100%;
                }
                .person-data{
                    display: flex;
                    align-items: center;
                    .person-data__name{
                        font-size: 14px;
                        color: rgba($color: #323232, $alpha: 0.5);
                        line-height: 1.2;
                        p{
                            margin-top: 7px;    
                        }
                    }
                    .avatar{
                        min-width: 65px;
                        height: 65px;
                        position: relative;
                        overflow: hidden;
                        border-radius: 25px;
                        margin-right: 15px;
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                p.review__text{
                    font-size: 18px;
                    line-height: 1.3;
                    margin-top: 15px;
                }
            }
        }

        .form-group{
            padding: 0 35px;
            form{
                width: 100%;
                max-width: 100%;
                textarea{
                    width: 100%;
                    max-width: 100%;
                    border-radius: 25px;
                    border: none;
                    outline: none;
                    background: #f3f3f3;
                    box-sizing: border-box;
                    padding: 16px 25px;
                    height: 215px;
                    resize: none;
                    &::placeholder{
                        color: #000;
                    }
                }
                p{
                    color: #a2a2a2;
                    font-size: 14px;
                    line-height: 1.3;
                    margin-left: 30px;
                    margin-top: 30px;
                    a{
                        text-decoration: none;
                        color: #2a5caa;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .form-group__buttons{
                    display: flex;
                    align-items: center;
                    .sing-in{
                        background: #fff;
                        border: 1px solid #a2a2a2;
                        color: #a2a2a2;
                        &:hover{box-shadow: unset;}
                    }
                    .add-comment{
                        color: #fff;
                        background: #ff3f4c;
                        width: 100%;
                        margin-left: 8px;
                        &:hover{box-shadow: -7.071px 7.071px 30px 0px #ff3f4c;}
                    }
                }
                button{
                    height: 55px;
                    outline: none;
                    border: none;
                    font-size: 14px;
                    line-height: 1;
                    border-radius: 25px;
                    box-sizing: border-box;
                    margin-top: 30px;
                    transition: 0.3s;
                    cursor: pointer;
                    &.sing-in{
                        min-width: 195px;
                        max-width: 100%;
                        color: #fff;
                        background: #ff3f4c;
                        &:hover{box-shadow: -7.071px 7.071px 30px 0px #ff3f4c;}
                    }
                }
            }
        }

        .history-container__image{
            width: 100%;
            height: 505px;
            max-width: 100%;
            position: relative;
            overflow: hidden;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .history__about{
            padding: 30px 45px 0;
            box-sizing: border-box;
            margin-top: 0;
            .category{
                transition: 0.3s;
                cursor: pointer;
                &:hover{
                    color: #fff;
                    background: #2a5caa;
                    box-shadow: -7.071px 7.071px 30px 0px rgb( 86, 152, 255 );
                }
            }
        }
        .page-location{
            font-size: 14px;
            line-height: 1.2;
            color: #a1a1a1;
            margin-top: 15px;
            width: 100%;
            padding: 0 55px;
            max-width: 100%;
            box-sizing: border-box;
            a{
                color: #a1a1a1;
                text-decoration: none;
            }
            span{
                color: #a1a1a1;

                transition: 0.3s;
                &:hover{
                    color: #2a5caa;
                }
            }
        }

        .history-container__title{
            font-size: 30px;
            font-weight: bold;
            line-height: 1.2;
            margin: 30px 0;
            width: 100%;
            padding: 0 55px;
            max-width: 100%;
            box-sizing: border-box;
        }

        p.history-container__text{
            font-size: 18px;
            line-height: 1.3;
            width: 100%;
            padding: 0 55px;
            max-width: 100%;
            box-sizing: border-box;
        }
        .history-container__buttons{
            padding: 0 35px;
            box-sizing: border-box;
            max-width: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 8pt;
            margin-top: 40px;
            button{
                max-width: 24%;
                height: 55px;
                border-radius: 40px;
                border: none;
                outline: none;
                cursor: pointer;
                color: #fff;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                transition: 0.3s;
                &.tg{
                    img{
                        width: 20px;
                        margin-right: 10px;
                    }
                    background: #2ca5e0;
                    &:hover{
                        box-shadow: -7.071px 7.071px 30px 0px rgb( 44, 165, 224 );
                    }
                }
                &.vk{
                    background: #48729e;
                    &:hover{
                        box-shadow: -7.071px 7.071px 30px 0px rgb( 86, 152, 255 );
                    }
                }
                &.ok{
                    background: #ff9f4d;
                    &:hover{
                        box-shadow: -7.071px 7.071px 30px 0px #ff9f4d;
                    }
                }
                &.btn-comments{
                    &.open{
                        color: #a2a2a2;
                        border: 1px solid #a2a2a2;
                        background: #fff;
                        &:hover{box-shadow: unset;}
                    }
                    background: #ff3f4c;
                    &:hover{
                        box-shadow: -7.071px 7.071px 30px 0px #ff3f4c;
                    }
                }
                flex: 0 0 25%;
                img{
                    width: 25px;
                    margin-right: 5px;
                    display: block;
                    margin-left: -10px;
                }
            }
        }
    }
}


.container-mobile{
    .history .history-container .history__about, .history .history-container .page-location, .history .history-container .history-container__title, .history .history-container p.history-container__text, .history .history-container .history-container__buttons, .history .history-container .form-group, .history .history-container .history-container__review{
        padding: 0;
    }
    .history .history-container .history-container__title{
        font-size: 18px;
        margin: 15px 0;
    }
    .history .history-container p.history-container__text{
        font-size: 14px;
    }
    .history .history-container .form-group form textarea{
        font-size: 14px;
        padding: 15px;
    }
    .history .history-container .form-group form button.sing-in{
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
        font-size: 12px;
    }
    .history .history-container .form-group form .form-group__buttons .add-comment{
        margin-left: 0;
        margin-top: 20px;
        font-size: 12px;
    }

    .history .history-container .history-container__buttons{
        margin-top: 25px;
    }

    .history .history-container .history-container__review .item .person-data .avatar{
        min-width: 50px;
        height: 50px;
    }
    .history .history-container .history-container__review .item p.review__text{
        font-size: 14px;
        margin-top: 7px;
    }
    .history .history-container .history-container__review .item .resend{
        font-size: 12px;
        height: 24px;
        width: 80px;
    }
    .history .history-container .history-container__review{
        margin-top: 25px;
    }
    .history .history-container .form-group form p{
        font-size: 12px;
        margin-left: 15px;
        margin-top: 20px;
    }
    .history{
        padding-top: 0;
    }
    .history .history-container .history__about{
        margin-top: 25px;
    }
    .history .history-container .history-container__image{
        height: 255px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .history .history-container{
        padding: 0;
        overflow: unset;
        border-radius: unset;
    }
    .history .history-container .history-container__review .item:last-child{
        padding-bottom: 0;
    }
    .history-container__buttons .share{
        width: 147px;
        max-width: 100%;
        height: 55px;
        color: #fff;
        background: #2a5caa;
    }
    .history .history-container .history-container__buttons button{
        max-width: 49%;
        flex: 0 0 50%;
        font-size: 12px;
    }
}

.mobile-menu__start{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    z-index: 10;
    .mobile-menu{
        background: transparent;
    }
}

.visibality-hidden{
    visibility: hidden;
}


@media screen and (max-width: 321px) {
    .container-mobile{
        padding: 0;
    }
    .mobile-menu .container-mobile{
        padding: 0 15px;
    }
    .container-mobile .burger-menu{
        right: 25px !important;
    }
    .mobile-menu__search .close{
        right: 25px;
    }
}